p{
    background-color: aqua;
}
a{
    background-color: tomato;

}
table{
    border: 2px solid black;
}
/* div{
    background-color: rgb(190, 255, 39);
} */
#date{
    background-color: aquamarine;
}